{% extends "layout.html" %}

{% block content %}
	<div class="content-section border p-3">
		<h3>Chat History</h3>
		<!-- chat history: loop through and print utterances from question.context -->
		{% for utterance, speaker in question.context %}
			<div class="row">
				<div class="col-md-6 small">
					<p>
					<strong>{{ speaker }}</strong>: {{ utterance }}
					</p>
				</div>
			</div>
		{% endfor %}

		<!-- response from System 1 and 2 in side-by-side columns -->
		<div class="row">
			<div class="col-md-6 border-right p-3">
				<div class="ml-3">
					<h4>System 1 Response</h3>
					<p class="small"><strong>Agent:</strong> {{ question.response_a }} </p>
				</div>
			</div>
			<div class="col-md-6 p-3">
				<h4>System 2 Response</h3>
				<p class="small"> <strong>Agent:</strong>{{ question.response_b }} </p>
			</div>
		</div>


		<!-- two div columns side by side -->



		<!-- form to submit user's response -->

		<form id="surveyform" class="border p-3 m-3" method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset>
				<div class="row">
					<div class="col-md-6 border-right p-3">
						<h4 class="border-bottom pb-3 mb-3">Answer the questions below</h4>
						<div class="form-group">
							{{ form.q1_a.label(class="form-control-label small") }}
							{{ form.q1_a(class="custom-select custom-select-sm") }}
							<small id="help_q1" class="form-text text-muted">
								🛈 {{ form.q1_a.description }}
							</small>
						</div>
						<div class="form-group">
							{{ form.q2_a.label(class="form-control-label small") }}
							{{ form.q2_a(class="custom-select custom-select-sm") }}
							<small id="help_q2" class="form-text text-muted">
								🛈 {{ form.q2_a.description }}
							</small>
						</div>
						<div class="form-group">
							{{ form.q3_a.label(class="form-control-label small") }}
							{{ form.q3_a(class="custom-select custom-select-sm") }}
							<small id="help_q3" class="form-text text-muted">
								🛈 {{ form.q3_a.description }}
							</small>
						</div>
						<div class="form-group">
							{{ form.q4_a.label(class="form-control-label small") }}
							{{ form.q4_a(class="custom-select custom-select-sm") }}
							<small id="help_q4" class="form-text text-muted">
								🛈 {{ form.q4_a.description }}
							</small>
						</div>
					</div>
					<!-- second column -->
					<div class="col-md-6 p-3">
						<h4 class="border-bottom pb-3 mb-3">Answer the questions below</h4>
						<div class="form-group">
							{{ form.q1_b.label(class="form-control-label small") }}
							{{ form.q1_b(class="custom-select custom-select-sm") }}
							<small id="help_q1" class="form-text text-muted">
								🛈 {{ form.q1_b.description }}
							</small>
						</div>
						<div class="form-group">
							{{ form.q2_b.label(class="form-control-label small") }}
							{{ form.q2_b(class="custom-select custom-select-sm") }}
							<small id="help_q2" class="form-text text-muted">
								🛈 {{ form.q2_b.description }}
							</small>
						</div>
						<div class="form-group">
							{{ form.q3_b.label(class="form-control-label small") }}
							{{ form.q3_b(class="custom-select custom-select-sm") }}
							<small id="help_q3" class="form-text text-muted">
								🛈 {{ form.q3_b.description }}
							</small>
						</div>
						<div class="form-group">
							{{ form.q4_b.label(class="form-control-label small") }}
							{{ form.q4_b(class="custom-select custom-select-sm") }}
							<small id="help_q4" class="form-text text-muted">
								🛈 {{ form.q4_b.description }}
							</small>
						</div>
						<div class="form-group invisible" hidden>
							{{ form.hidden_timestamp_start }}
							{{ form.hidden_timestamp_end }}
							{{ form.question_id }}
							<input id="q_id_val" type="text" name="q_id_val" value="{{ question.id }}">
						</div>
					</div>
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}

{% block custom_script %}
<script type="text/javascript">
	$(document).ready(function() {
		time_start = new Date().getTime();
		console.log(time_start);
		$("#hidden_timestamp_start").val(time_start);
		// Attach event listener to the form submit button
		$("#submit").on("click", function(e) {

			// Get the input field values
			time_end = new Date().getTime();
			console.log(time_end - time_start);

			$("#hidden_timestamp_end").val(time_end);
			$("#question_id").val($("#q_id_val").val());

			// Submit the form programmatically
			console.log("submitting form");
			$("#surveyform").submit();
		});
  });
</script>
{% endblock custom_script %}
